<h2>Search Authors</h2>
<form action="/authors" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="{{searchOptions.name}}" />
  <button type="submit">Search</button>
</form>
<br />
{{#each authors}}
  <div>
    {{this.name}}
  </div>
  <a href="/authors/{{this.id}}">View</a>
  <a href="/authors/{{this.id}}/edit">Edit</a>
  {{> deleteForm url=(concat '/authors/' this.id)}}
{{/each}}