<h2>{{author.name}}</h2>
<a href="/authors/{{author.id}}/edit">Edit</a>
{{> deleteForm url=(concat '/authors/' author.id)}}
{{#if (checkBooksByAuthor booksByAuthor)}}
    <h2>Books By Author</h2>
    {{#each booksByAuthor}}
        <a href="/books/{{this.id}}">
            <img height="150" width="100" src="{{this.coverImagePath}}" alt="" />
        </a>
    {{/each}}
{{/if}}